.userName {
    font-size: 2em;
}
.userPicture {
    border-width: 1;
    border-radius: 50%;
    border: solid black 4px;
}
.container  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 20px;
}