.container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  width: 100%;
}